<!DOCTYPE html>
<html lang="en">

<html> 
    <head>
        <meta charset="UTF-8">
        <title>Grades Web App | Home Page</title>
        <link rel="stylesheet" href="/static/styleSheet.css"/>
        <script type="text/javascript" src="/static/myScript.js"></script>
    </head>


    <body>
        <div class="login-page">
            <h1>Home Page </h1>
            <a href="{{ url_for('login') }}">Login Page </a> <br>
            
        </div>

        <script src="/static/myScript.js"></script>
    </body>
</html>
</html>
