<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <meta charset="UTF-8">
        <title>Grades Web App | Login Page</title>
        <link rel="stylesheet" href="/static/styleSheet.css"/>
        <script type="text/javascript" src="/static/myScript.js"></script>
    </head>


    <body>
        <h1>Login</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.username }}
                {{ form.password }}
                {{ form.submit }}
            </form>

        <!-- <form action='/login' method="POST">
            <label for="user_id">Username:</label>
            <input type="text" placeholder="Enter Username" id="username"> <br>

            <label for="password">Password:</label>
            <input type="text"  placeholder="Enter Password" id="password"> <br>

            <input type="submit" value="Login"  onclick="validate()">
        </form> -->

        <!-- <form class="box" action="login.html" method="POST"></form> -->
        <!-- <label for="user_id">User ID:</label>
        <input type="text" placeholder="Enter User ID" id="user_id"> <br>

        <label for="password">Password:</label>
        <input type="text"  placeholder="Enter Password" id="password"> <br>

        <input type="submit" value="Login"  onclick="validate()">
        <input type="submit" value="Register" onclick="register()"> <br> -->
    </body>
</html>
