<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <meta charset="UTF-8">
        <title>Grades Program | Registration Page</title>
        <link rel="stylesheet" href="/static/styleSheet.css"/>
        <script type="text/javascript" src="/static/myScript.js"></script>
    </head>


    <body>
        <div class="registration-page">
            <h1>Registration</h1>
            <form action='/register' method="post" >
                <label for="newUser-Name">Full Name:</label>
                <input type="text" placeholder="Enter a Name" id="newUser-Name"> <br>
                <label for="newUsername">Username:</label>
                <input type="text" placeholder="Enter a Username" id="newUsername"> <br>
                <label for="newPassword">Password:</label>
                <input type="text" placeholder="Enter a Password" id="newPassword"> <br>
                <br>
                <label>I'm a :</label>
                <select id="permissionType" name="permType">
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select>
                <button value="submit" type="submit">Register</button>
            </form>
        </div>


        <script src="/static/myScript.js"></script>
    </body>
</html>