<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <meta charset="UTF-8">
        <title>Professor Page | Home</title>
        <link rel="stylesheet" href="/static/styleSheet.css"/>
        <script type="text/javascript" src="/static/myScript.js"></script>


        
    </head>

    <body>

        <h2>Tabs</h2>
        <button><a href="{{ url_for('logout') }}">LOGOUT</a></button>
        <p>Click on the buttons inside the tabbed menu:</p>

        <div class="tab">
            <button class="tablinks" onclick="openStudentCourses(event, 'YourCourses')">Your Courses</button>
        </div>
        
        <!-- Tab content -->
        <div id="YourCourses" class="tabcontent">
            <h3>Your Courses</h3>
            <p>Your current courses can be found here</p>

            <table>
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Teacher</th>
                        <th>Time</th>
                        <th>Students Enrolled</th>
                    </tr>
                </thead>
                <tbody id="studentCourses">

                </tbody>

            </table>
        </div>
        
        <div id="AddCourses" class="tabcontent">
            <h3>Add Courses</h3>
            <p>Add courses to your schedule here</p>

            <table>
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Teacher</th>
                        <th>Time</th>
                        <th>Students Enrolled</th>
                    </tr>
                </thead>
                <tbody id="allCourses">

                </tbody>
            </table>
        </div>


        <script>
            function openStudentCourses(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }

            function openAllCourses(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            </script>
    </body>
</html> 